<h1>Favorite Pokemon</h1>

<% favorites.forEach(pokemon => { %>
    
    <li><a href="/pokemon/<%=pokemon.name.toLowerCase()%>"><%=pokemon.name%></a></li>
    <br>
<%})%>

<form method="GET" action="/">
    <button class="btn btn-primary" type="submit">Back to Pokedex</button>
  </form>