@import url("https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap");

body {
    background-color: lightblue;
    text-align: center;
    font-family: 'Signika', sans-serif;
}

button {
    border-radius: 12px;
}


ul {
    padding-inline-start: 0;
}

